@use '../../../styles/index' as *;

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__item {
    margin: 0 auto;
    width: 50%;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }

  .btn-person__add {
    transition: transform 0.3s ease, opacity 0.3s ease;

    &:not(:disabled) {
      color: $color-primary-yellow;

      &:hover {
        transform: scale(1.1);
        opacity: 0.8;
        cursor: pointer;
      }
    }
    
    mat-icon {
      width: 40px;
      height: 40px;
      font-size: 40px;
    }
  }

  .mat-mdc-raised-button.enviar-button {
    margin-left: 141px;
    font-size: $font-title-md-size;
    font-weight: $font-title-sm-weight;
    align-items: center;
    height: 42px;
    padding: 16px;
    gap: 5px;
    background-color: $color-support-blue-light;
    border-radius: 8px;
    width: 147px;
    border: none;
    color: white;
    font-size: 1em;
  }
}

.horarios {
  display: flex;
  gap: 20px;
}