<header class="header">
  <div class="header__container">
    
    <nav class="header__nav">
      <a href="/home" class="header__item header__link active">Home</a>
      <a href="/reservas" class="header__item header__link">Reservas</a>
    </nav>

    <div class="header__logo">
      <img src="images/logo.png" routerLinkActive="active" class="header__img" alt="Logo PlaySenac" />
    </div>

    <div class="header__actions">
      <a href="/entre" class="header__item header__login">Entre</a>
      <a href="/cadastro" class="header__item header__signup">Cadastre-se</a>
    </div>

  </div>
</header>
