<h2>Escolha a quadra</h2>
<div class="courts__container">
  @for (court of courts$ | async; track $index) {
  <div class="court-card">
    <div class="court-card__image-wrapper">
      <img [src]="court.pathImg" alt="Foto da quadaa {{ court.title }}" />

      <div class="court-card__status" [class.available]="isCourtAvailable(court)">
        @if (isCourtAvailable(court)) {
        <span>Disponível</span>
        } @else {
        <span>Fechada</span>
        }
      </div>
    </div>

    <div class="court-card__info">
      <h3>{{ court.title }}</h3>
      @if (court.diasDisponiveis && court.diasDisponiveis.length > 0) {
      <div class="court-card__days">
        <span
          >Dias disponiveis: @for (dia of court.diasDisponiveis; track dia; let isLast = $last) {
          {{ diaDaSemanaEnum[dia] }}{{ !isLast ? ', ' : '' }} }</span
        >
      </div>
      }
    </div>
  </div>
  }
</div>
