<app-header />
<div class="container__entre">
  <form class="entre-form" #entreForm="ngForm" (ngSubmit)="onSubmit(entreForm)">
    <h1>Entre na sua conta</h1>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput="" type="email" name="email" ngModel #email="ngModel" required email [disabled]="isLoading" />
      <mat-icon matPrefix>email</mat-icon>

      @if (email.invalid && (email.dirty || email.touched)) {
      <mat-error>
        @if (email.errors?.['required']) {
        <span>O e-mail é obrigatório.</span>
        } @if (email.errors?.['email']) {
        <span>Por favor, insira um e-mail válido.</span>
        } @if (!email.errors?.['email'] && email.errors?.['pattern']) {
        <span>O e-mail deve ser do domínio @senacsp.edu.br.</span>
        }
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Senha</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        name="senha"
        ngModel
        #senha="ngModel"
        required
        [pattern]="passwordPattern"
        [disabled]="isLoading"
      />
      <mat-icon matPrefix>lock</mat-icon>
      <mat-hint align="end">
        <a (click)="!isLoading && aoEsquecerASenha()" [class.disabled-link]="isLoading" class="esqueceu-sua-senha">Esqueceu sua senha?</a>
      </mat-hint>
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button" [disabled]="isLoading">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>

      @if (senha.invalid && (senha.dirty || senha.touched)) {
      <mat-error>
        @if (senha.errors?.['required']) {
        <span>A senha é obrigatória.</span>
        } @else if (senha.errors?.['pattern']) {
        <span>A senha está fraca</span>
        }
      </mat-error>
      }
    </mat-form-field>

    @if (loginError) {
    <div class="backend-error-msg">
      <mat-icon>error</mat-icon>
      {{ loginError }}
    </div>
    }

    <button matButton="elevated" class="login-button" type="submit" [disabled]="entreForm.invalid || isLoading">
      @if (isLoading) {
        <mat-spinner diameter="24" color="accent"></mat-spinner>
      } @else {
        Aperte o <span [style.color]="'#FFCE00'">Play</span>!
      }
    </button>

    <p align="center">
      Não tem Uma Conta?
      <span (click)="!isLoading && aoClicarEmCriarUmaConta()" class="crie-uma-conta" [class.disabled-link]="isLoading">
        Crie Uma!
      </span>
    </p>
  </form>
</div>
<app-footer />