@use '../../../styles/index' as *;
.container__entre {
  margin: 100px 0 414px 0;
}
.entre-form {
  display: flex;
  margin: 0 auto;
  width: 540px;
  padding: 48px 72px;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 32px;
  border-radius: 20px;
  background: $color-base-white;
  box-shadow: 40px 40px 60px 0 rgba(228, 230, 234, 0.74);
}

.label-container {
  display: flex;
  justify-content: space-between; /* Mágica acontece aqui! */
  align-items: baseline; /* Alinha o texto na base */
  width: 100%; /* Garante que o container ocupe todo o espaço */
}

.link-esqueceu {
  font-size: 0.9em;
  color: #1570ef; /* Ou a cor primária do seu tema */
  cursor: pointer;
  text-decoration: none; /* Opcional */
}

.link-esqueceu:hover {
  text-decoration: underline;
}

input:selecionadoeescrevendo {
  border: 3px solid var(--outline-primary, #d1e9ff);
}
.email {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 5px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 8px;
}

.mat-mdc-raised-button.login-button {
  display: flex;
  justify-content: center;
  font-size: $font-title-md-size;
  font-weight: $font-title-sm-weight;
  align-items: center;
  height: 52px;
  padding: 16px;
  gap: 5px;
  background-color: #2967f4; /* Cor do Figma */
  border-radius: 8px;

  /* Ajustes adicionais */
  width: 100%; /* Para replicar o 'align-self: stretch' */
  border: none; /* Remove a borda padrão */
  color: white; /* Cor do texto principal */
  font-size: 1em; /* Tamanho de fonte legível */
}

.esqueceu-sua-senha {
  cursor: pointer;
  &:hover {
    color: $color-primary-blue;
  }
}

.crie-uma-conta {
  margin-left: 8px;
  cursor: pointer;
    color: $color-primary-blue;
}
