@use '../../../styles/index' as *;

.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  background: url('/images/bg_hero.png') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-bottom: 155px;

  &__title {
    font-size: $font-title-lg-size;
    font-weight: $font-title-lg-weight;
    color: $color-base-white;
  }

  // Adicione esta nova classe
  &__typing-wrapper {
    display: inline-block; // Permite definir largura/altura mas mantendo o fluxo do texto
    min-width: 28.5ch; // Reserva espaço para ~28.5 caracteres. Ajuste fino se necessário.
    white-space: nowrap; // Garante que o texto não quebre a linha durante a digitação
    text-align: left; // Mantém o alinhamento do texto à esquerda dentro do wrapper
  }

  &__overlay {
    padding: 2rem;
    border-radius: 8px;
  }

  &__title {
    font-size: $font-title-lg-size;
    font-weight: $font-title-lg-weight;
    color: $color-base-white;
  }

  &__subtitle {
    margin-top: 1rem;
    font-size: $font-text-md-line-height;
    color: $color-base-white;
  }

  &__cursor {
    display: inline-block;
    width: 3px;
    height: 1.2em;
    background: $color-primary-yellow;
    margin-left: 2px;
    animation: blink 0.8s infinite;
    vertical-align: text-bottom;
  }

  @keyframes blink {
    0%,
    50% {
      opacity: 1;
    }
    50.01%,
    100% {
      opacity: 0;
    }
  }
}
