<form
  class="form-container"
  #facaSuaReservaFormControl="ngForm"
  (ngSubmit)="onSubmit()"
>
  <h1 mat-dialog-title>Alterar reserva</h1>
  <mat-dialog-content class="mat-typography">
    <mat-form-field appearance="outline" class="full-width form-container__item">
      <mat-label>Selecione a quadra</mat-label>
      <mat-select
        name="quadraSelecionada"
        [(ngModel)]="quadraSelecionada"
        #quadraSelecionadaControl="ngModel"
        required
      >
        @for (quadra of quadras; track quadra) {
        <mat-option [value]="quadra.title">{{ quadra.title }}</mat-option>
        }
      </mat-select>
      @if (quadraSelecionadaControl.hasError('required')) {
      <mat-error> O campo quadra é obrigatório. </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width form-container__item">
      <mat-label>Selecione a data</mat-label>
      <input
        required
        name="dataSelecionada"
        [(ngModel)]="dataSelecionada"
        #dataSelecionadaControl="ngModel"
        matInput
        [matDatepicker]="picker"
        readonly
      />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      @if (dataSelecionadaControl.hasError('required')) {
      <mat-error> A data é obrigatória. </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width form-container__item">
      <mat-label>Selecione o horário</mat-label>
      <input
        required
        matInput
        [matTimepicker]="timepicker"
        [(ngModel)]="horarioSelecionado"
        name="horarioSelecionado"
        #horarioSelecionadoControl="ngModel"
        matTimepickerMin="09:00"
        matTimepickerMax="20:00"
        class="timepicker"
      />
      <mat-timepicker #timepicker />
      <mat-timepicker-toggle [for]="timepicker" matSuffix />
      @if (horarioSelecionadoControl.hasError('required')) {
      <mat-error> O horário é obrigatório. </mat-error>
      }
    </mat-form-field>

    @if ( convidados.length > 0 ) {
    <mat-chip-listbox class="full-width form-container__item">
      @for (convidado of convidados; track convidado) {
      <mat-chip color="primary" selected (removed)="removeConvidado(convidado)">
        {{ convidado.nome }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      }
    </mat-chip-listbox>

    }
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button class="btn-cancelar" mat-dialog-close color="warn">Cancelar</button>

    <button
      mat-raised-button
      class="btn-confirmar"
      color="primary"
      [disabled]="facaSuaReservaFormControl.invalid"
      [ngStyle]="
        facaSuaReservaFormControl.invalid
          ? { backgroundColor: '#9e9e9e', cursor: 'not-allowed', color: '#ffffff' }
          : {}
      "
    >
      Confirmar
    </button>
  </mat-dialog-actions>
</form>
