@use '../../../styles/variables' as *;

mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 16px; // Adiciona espaçamento entre os campos de formulário
  .horarios {
    display: flex;
    gap: 20px;
  }
}

.timepicker .mdc-text-field--outlined {
  display: none;
  color: red;
  background-color: red;
}

.mat-mdc-raised-button.btn-cancelar {
  color: #fff;
  background-color: #d32f2f;
  font-weight: 500;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #b71c1c; // tom mais escuro no hover
  }
}

.mat-mdc-raised-button.btn-confirmar {
  color: white;
  background-color: #2967f4; /* Cor do Figma */
  font-size: 1em;

  &:hover {
    background-color: #1e52c7; // tom mais escuro e consistente no hover
  }
}

.form-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.person_add {
  cursor: pointer;
  color: $color-primary-yellow;
  width: 40px;
  height: 40px;
  font-size: 40px;
  transition: transform 0.3s ease, opacity 0.3s ease;

  &:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }
}
