// ==============================
// 🎨 Cores
// ==============================

// Marca / Primários
$color-primary-blue: #004A8D;
$color-primary-orange: #F27F54;
$color-primary-yellow: #FFCE00;
$color-primary-gray: #778888;

// Suporte
$color-support-blue-lightest: #4A97E6;
$color-support-blue-light: #296F74;
$color-support-blue-nav: #0051A2;
$color-support-blue-darkA: #072F54;
$color-support-blue-darkB: #082036;
$color-support-orange-strong: #F77F00;
$color-support-purple-gray: #33283F;
$color-support-orange-tint: #FDC280;

// Base
$color-base-white: #FFFFFF;
$color-base-gray-lightest: #F7F7F7;
$color-base-gray-light: #E4E8F0;
$color-base-gray-dark: #1E2127;

// Semânticas
$color-info-text: #31708F;
$color-info-bg: #D9EDF7;
$color-warning-text: #8A6D3B;
$color-warning-bg: #FCF8E3;


// ==============================
// ✍️ Tipografia
// ==============================

// Font Family
$font-family-base: 'Montserrat', sans-serif;

// Titles
$font-title-lg-size: 48px;
$font-title-lg-line-height: 56px;
$font-title-lg-weight: 700;

$font-title-md-size: 36px;
$font-title-md-line-height: 40px;
$font-title-md-weight: 700;

$font-title-sm-size: 28px;
$font-title-sm-line-height: 32px;
$font-title-xs-weight: 600;
$font-title-sm-weight: 700;

// Text
$font-text-md-size: 16px;
$font-text-md-line-height: 22px;
$font-text-md-weight: 400;

$font-text-sm-size: 14px;
$font-text-sm-line-height: 20px;
$font-text-sm-weight: 400;
