@use '../../../styles/index' as *;

.card {
  display: flex; // ✨ Coloca left e right lado a lado
  justify-content: space-between; // ✨ Empurra para as extremidades
  align-items: center; // ✨ Alinha verticalmente ao centro
  width: 100%;
  padding: 16px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); // Sombra sutil
  margin-bottom: 20px; // Espaçamento entre os cards

  &__left {
    display: flex; // ✨ Coloca a imagem ao lado do texto
    align-items: center; // ✨ Alinha a imagem e o texto verticalmente
    gap: 20px; // Espaçamento entre a imagem e o texto

    img {
      width: 200px;
      height: 116px;
      object-fit: cover;
      border-radius: 5px;
    }

    .info-wrapper {
      h2 {
        font-size: 18px;
        font-weight: 600;
        margin: 0 0 8px 0;
      }
      p {
        font-size: 14px;
        color: #666;
        margin: 4px 0;
      }
    }
  }

  &__right {
    .material-symbols-outlined {
      cursor: pointer;
      color: #333;
    }
  }
  &__right__cancel-icon {
    color: $color-support-orange-warn;
    font-size: 32px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;

    &:hover {
      transform: scale(1.1);
      opacity: 0.8;
    }
  }
}


.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  // Espaçamento e Tamanho
  padding: 4rem 2rem;
  margin-top: 20px;
  width: 100%;
  min-height: 250px; // Garante uma altura legal mesmo sem conteúdo
  
  // Visual "Ghost" (Fantasma)
  background-color: #fafafa; // Um cinza muito, muito claro (quase branco)
  border: 2px dashed #e0e0e0; // Borda tracejada indica "vazio"
  border-radius: 8px;
  
  // Tipografia e Cores
  text-align: center;
  color: #757575; // Cinza médio para não cansar a vista
  transition: all 0.3s ease;

  // Estilo do Ícone
  mat-icon {
    font-size: 64px; // Ícone grande
    height: 64px;
    width: 64px;
    color: #e0e0e0; // Ícone bem clarinho para ser sutil
    margin-bottom: 16px;
  }

  // Estilo do Texto
  p {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
  }

  // (Opcional) Um efeito hover para dar vida
  &:hover {
    background-color: #f0f8ff; // Azulzinho muito claro (AliceBlue)
    border-color: $color-primary-blue; // Sua cor azul principal
    
    mat-icon {
      color: $color-primary-blue;
      opacity: 0.5;
    }
    
    p {
      color: $color-primary-blue;
    }
  }
}