@for (reserva of reservasCombinadas$ | async; track reserva.id;) {
<div class="card">
  <div class="card__left">
    <img [src]="reserva.pathImg" alt="Imagem da quadra {{ reserva.quadra.title }}" />

    <div class="info-wrapper">
      <h2>{{ reserva.quadra.title }}</h2>
      <p>
        Horário: {{ reserva.horario | date : 'HH:mm' }} -
        {{ getHorarioFinal(reserva.horario) | date : 'HH:mm' }}
      </p>
      <p>Capacidade: {{ reserva.capacidade }} pessoas</p>
      <p>
        Data: {{ (reserva.data | date : 'EEEE')?.replace('-feira', '') | titlecase }},
        {{ reserva.data | date : 'dd/MM' }}
      </p>
      @if(reserva.convidados.length > 0) {
      <p>
        Convidados: @for (item of reserva.convidados; track $index; let isLast = $last) {
        {{ item.nome }}{{ !isLast ? ', ' : '' }}
        }
      </p>
      }
    </div>
  </div>

  <div class="card__right">
    <button (click)="cancelarReserva(reserva.id)">
      <mat-icon class="card__right__cancel-icon">cancel</mat-icon>
    </button>
  </div>
</div>
}
