  @for (reserva of reservasCombinadas$ | async; track reserva.id) {
  <div class="card">
    <div class="card__left">
      <img [src]="reserva.pathImg" alt="Imagem da quadra {{ reserva.title }}" />

      <div class="info-wrapper">
        <h2>{{ reserva.title }}</h2>
        <p>Horário: {{ reserva.horario }}</p>
        <p>Capacidade: {{ reserva.capacidade }} pessoas</p>
        <p>
          Data: {{ (reserva.data | date : 'EEEE')?.replace('-feira', '') | titlecase }},
          {{ reserva.data | date : 'dd/MM' }}
        </p>
      </div>
    </div>

    <div class="card__right">
      <button (click)="cancelarReserva(reserva.id)">
        <mat-icon class="card__right__cancel-icon">cancel</mat-icon>
      </button>
    </div>
  </div>
  }
