@use '../../../styles/index' as *;

.container-reservas {
  padding: 20px;
  max-width: 941px; // Adicionado para centralizar e limitar a largura
  margin: 0 auto;
  height: 100%;
  min-height: 100vh;

  h1 {
    font-size: 32px; // Tamanho de exemplo
    font-weight: 700;
  }

  // --- MENU DE ABAS ---
  &__menu-reservas {
    margin: 38px 0;
    display: flex;
    gap: 88px; // Mais moderno que usar margin no filho
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #eee; // Linha de fundo para as abas

    p {
      cursor: pointer;
      position: relative;
      padding-bottom: 12px; // Espaçamento para a linha inferior
      transition: color 0.3s ease;

      &::after {
        content: '';
        position: absolute;
        bottom: -1px; // Alinha com a borda do pai
        left: 0;
        width: 0;
        height: 2px;
        background-color: $color-primary-yellow; // Cor para aba ativa
        transition: width 0.3s ease;
      }

      // Estilo da aba ativa
      &.active,
      &:hover {
        color: $color-primary-blue;
        &::after {
          width: 100%;
        }
      }
    }
  }
}
