@use '../../../styles/index' as *;
.container-cadastro {
  margin: 100px 0 220px 0;
}

.cadastro-form {
  display: flex;
  margin: 0 auto;
  width: 540px;
  padding: 48px 72px;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 32px;
  border-radius: 20px;
  background: $color-base-white;
  box-shadow: 40px 40px 60px 0 rgba(228, 230, 234, 0.74);
}


.mat-mdc-raised-button.cadastro-button {
  display: flex;
  justify-content: center;
  font-size: $font-title-md-size;
  font-weight: $font-title-sm-weight;
  align-items: center;
  height: 52px;
  padding: 16px;
  gap: 5px;
  background-color: #2967f4; /* Cor do Figma */
  border-radius: 8px;

  /* Ajustes adicionais */
  width: 100%; /* Para replicar o 'align-self: stretch' */
  border: none; /* Remove a borda padrão */
  color: white; /* Cor do texto principal */
  font-size: 1em; /* Tamanho de fonte legível */
}


.tem-conta {
  margin-left: 8px;
  cursor: pointer;
  color: $color-primary-blue;
}
