@for (item of courts; track $index) {
<div class="card">
  <div class="card__left">
    <img [src]="item.pathImg" alt="Imagem da quadra {{ item.title }}" />
    <div class="info-wrapper">
      <h2>{{ item.title }}</h2>
      <p>
        Horário: {{ item.horarioAbertura | date : 'h:mm' }} -
        {{ item.horarioFechamento | date : 'h:mm' }}
      </p>
      <p>Capacidade: {{ item.capacidade }}</p>
      <p>
        Dias disponíveis: @for (dia of item.diasDisponiveis; track dia; let isLast = $last) {
        {{ dia | slice : 0 : 3 }}{{ !isLast ? ', ' : '' }}
        }
      </p>
    </div>
  </div>
  <div class="card__right">
    <button (click)="alterarQuadra()">
      <mat-icon class="card__right__edit-icon">edit</mat-icon>
    </button>
    <button (click)="removeQuadra(item)">
      <mat-icon class="card__right__cancel-icon">cancel</mat-icon>
    </button>
  </div>
</div>
}
