@for (court of courts; track court.id) {
<div class="card">
  <div class="card__left">
    <img [src]="court.pathImg" alt="Imagem da quadra {{ court.title }}" />
    <div class="info-wrapper">
      <h2>{{ court.title }}</h2>
      <p>
        Horário: {{ court.horarioAbertura | date : 'HH:mm' }} -
        {{ court.horarioFechamento | date : 'HH:mm' }}
      </p>
      <p>Capacidade: {{ court.capacidade }}</p>
      <p>
       Dias disponiveis: @for (dia of court.diasDisponiveis; track dia; let
          isLast = $last) { {{ diaDaSemanaEnum[dia]  }}{{ !isLast ? ', ' : '' }} }
      </p>
    </div>
  </div>
  <div class="card__right">
    <button (click)="alterarQuadra(court)">
      <mat-icon class="card__right__edit-icon">edit</mat-icon>
    </button>
    <button (click)="removeQuadra(court)">
      <mat-icon class="card__right__cancel-icon">cancel</mat-icon>
    </button>
    <button (click)="bloquearQuadra(court)">
  <mat-icon class="card__right__block-icon">block</mat-icon>
</button>
  </div>
</div>
}
