<div class="perfil-container">
  <div class="header-row">
    <button mat-icon-button mat-dialog-close class="close-btn" [disabled]="isSaving || isDeleting">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  @if (isLoading) {
    <div class="loading-container">
      <mat-spinner diameter="50"></mat-spinner>
      <p class="loading-text">Carregando informações...</p>
    </div>
  } 
  @else {
    <div class="profile-header">
      <div class="avatar-circle">
        <mat-icon>person</mat-icon>
      </div>
      <h2>{{ usuario.nome }}</h2>
    </div>

    <form #perfilForm="ngForm" (ngSubmit)="onSubmit()" class="profile-form">
      <div class="form-row">
        <label>Email</label>
        <mat-form-field appearance="outline" class="custom-field">
          <input matInput name="email" [(ngModel)]="usuario.email" class="readonly-input" readonly />
        </mat-form-field>
      </div>

      <div class="form-row">
        <label>Telefone</label>
        <mat-form-field appearance="outline" class="custom-field">
          <input
            matInput
            name="telefone"
            [(ngModel)]="usuario.telefone"
            required
            mask="(00) 00000-0000"
            [disabled]="isSaving || isDeleting"
          />
        </mat-form-field>
      </div>

      <div class="form-row">
        <label>Senha</label>
        <mat-form-field appearance="outline" class="custom-field">
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            name="novaSenha"
            [(ngModel)]="novaSenha"
            placeholder="Digite sua nova senha"
            [pattern]="passwordPattern"
            #novaSenhaModel="ngModel"
            [disabled]="isSaving || isDeleting"
            required
          />
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button" [disabled]="isSaving || isDeleting">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          
          @if (novaSenhaModel.invalid && (novaSenhaModel.dirty || novaSenhaModel.touched)) {
             <mat-error>Senha inválida</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="actions-row">
        
        <button
          mat-flat-button
          type="button"
          class="delete-btn"
          (click)="onDeleteUser()"
          [disabled]="isSaving || isDeleting"
        >
          @if (isDeleting) {
            <mat-spinner diameter="24" color="warn"></mat-spinner>
          } @else {
            <mat-icon>delete</mat-icon>
            Excluir
          }
        </button>

        <button
          mat-flat-button
          color="primary"
          type="submit"
          class="save-btn"
          [disabled]="perfilForm.invalid || isSaving || isDeleting"
          [ngStyle]="perfilForm.invalid ? { backgroundColor: '#9e9e9e', cursor: 'not-allowed', color: '#ffffff' } : {}"
        >
          @if (isSaving) {
            <mat-spinner diameter="24" color="accent"></mat-spinner>
          } @else {
            Salvar alterações
          }
        </button>

      </div>
    </form>
  }
</div>