@use '../../../styles/index' as *;

.dashboard {
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
  max-width: 941px;
  height: 120%;
  h1 {
    font-size: 32px; // Tamanho de exemplo
    font-weight: 700;
  }
  &__menu {
    margin: 38px 0;
    display: flex;
    gap: 88px; // Mais moderno que usar margin no filho
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #eee; // Linha de fundo para as abas
    p {
      cursor: pointer;
      position: relative;
      padding-bottom: 12px; // Espaçamento para a linha inferior
      transition: color 0.3s ease;

      &::after {
        content: '';
        position: absolute;
        bottom: -1px; // Alinha com a borda do pai
        left: 0;
        width: 0;
        height: 2px;
        background-color: $color-primary-yellow; // Cor para aba ativa
        transition: width 0.3s ease;
      }

      // Estilo da aba ativa
      &.active,
      &:hover {
        color: $color-primary-blue;
        &::after {
          width: 100%;
        }
      }
    }
  }

  &__criar-quadra.mat-mdc-raised-button {
    margin-bottom: 20px;
    font-size: $font-title-md-size;
    font-weight: $font-title-sm-weight;
    align-items: center;
    height: 42px;
    padding: 16px;
    gap: 5px;
    background-color: $color-support-blue-light;
    border-radius: 8px;
    width: 147px;
    border: none;
    color: white;
    font-size: 1em;
  }
}
